@page "/contact"
@model Smart.FA.Catalog.Showcase.Web.Pages.ContactModel
@{
    ViewData["Title"] = @ShowcaseResources.Contact_TitlePage;
}

<section class="main__presentation">
    <div class="main-title">@ShowcaseResources.Contact_TitlePage</div>
    <div class="main__presentation-txt">
        <p>@ShowcaseResources.Contact_Presentation</p>
        <p><br />@ShowcaseResources.Contact_Presentation_SecondPart <a href="@ShowcaseResources.Contact_Presentation_Link">@ShowcaseResources.Contact_Presentation_Link</a></p>
    </div>

    @await Html.PartialAsync("Partials/Inquiry/_FormSendingMailResultAlerts", Model.SendEmailResult)

    <div class="main__contact-form">
        @await Html.PartialAsync("Partials/Inquiry/_InquiryForm", Model.SendEmailRequest)
    </div>
</section>
