@page
@model IndexModel
@{
    ViewData["Title"] = @ShowcaseResources.Homepage_Title;
}

<section class="main__presentation">
    <div class="main-title">@ShowcaseResources.Homepage_Title</div>
    <div class="main__presentation-txt">
        <p class="main__paragraph">@ShowcaseResources.Homepage_IntroductionPart1</p>
        <p class="main__paragraph">@ShowcaseResources.Homepage_IntroductionPart2</p>
        <p class="main__paragraph">@ShowcaseResources.Homepage_IntroductionPart3</p>
    </div>
</section>


<section class="section__training-list">
    <div class="section__label">
        @* Ajouter le nombre de formateurs et de formations en lieu et place des xxx *@
        <h5>@ShowcaseResources.Homepage_TrainingCount xxx | @ShowcaseResources.Homepage_TrainersCount xxx</h5>
    </div>
    <div class="section__label">
        <h2>@ShowcaseResources.Homepage_Subtitle</h2>
    </div>
    @* Boucle sur 10 formations order by random *@
</section>
