@page
@model IndexModel
@{
    ViewData["Title"] = @ShowcaseResources.Homepage_Title;
}

<section class="main__presentation">
    <div class="main-title">@ShowcaseResources.Homepage_Title</div>
    <div class="main__presentation-txt">
        <p class="main__paragraph">@ShowcaseResources.Homepage_IntroductionPart1</p>
        <p class="main__paragraph">@ShowcaseResources.Homepage_IntroductionPart2</p>
        <p class="main__paragraph">@ShowcaseResources.Homepage_IntroductionPart3</p>
    </div>
</section>

@if (Model.TrainingsCount > 0)
{
    <section class="section__training-list">
        <div class="section__labels">
            <div class="section-label__text">@ShowcaseResources.Homepage_TrainingCount <span class="section-label__nb">@Model.TrainingsCount</span></div>
            <div class="section-label__text">@ShowcaseResources.Homepage_TrainersCount <span class="section-label__nb">@Model.TrainersCount</span></div>
        </div>

        <div class="section__label">
            <h2>@ShowcaseResources.Homepage_Subtitle</h2>
        </div>

        @foreach (var training in Model.Trainings)
        {
            @await Html.PartialAsync("_TrainingTitle", training)
        }

    </section>
}
