@page
@using Smart.Design.Razor.TagHelpers.Pill
@using Core.SeedWork
@using Core.Domain.Enumerations
@using Microsoft.Extensions.Localization
@using Web.Pages.Admin.Trainings.List
@inject IStringLocalizer<ListModel> _localizer
@model Web.Pages.Admin.Trainings.List.ListModel
@{
    Layout = "_AdminLayout";
    ViewData["ToolBarTitle"] = "My Trainings";
    ViewData["Title"] = "My Trainings";
}

@section HeaderToolbar {
    <div class="c-navbar c-navbar--bordered-bottom">
        <div class="c-toolbar">
            <div class="c-toolbar__left">
                <div class="c-toolbar__item">
                    <h2 class="c-toolbar__title">@ViewData["ToolBarTitle"]</h2>
                </div>
            </div>

            <smart-button-toolbar>
                <div class="c-toolbar__right">
                    <a href="/admin/trainings/create?fromlist=">
                        <smart-button label="Add new training" leading-icon="Add"></smart-button>
                    </a>
                </div>
            </smart-button-toolbar>
        </div>
    </div>
}

<div class="o-card-grid small-up-1">
    @foreach (var training in Model.Trainings!.GroupBy(training => training.TrainingId))
    {
        @await Component.InvokeAsync("AdminTrainingTile", new { model = training})
    }
</div>

<div class="c-toolbar">
    <div class="c-toolbar__left">
        @if (Model?.Trainings?.HasPreviousPage ?? false)
        {
            <a asp-page="/admin/trainings/list/index" asp-route-CurrentPage="@(Model.CurrentPage - 1)">Previous</a>
        }
    </div>

    <div> @(Model?.Trainings?.Count ?? 0)/@(Model?.Trainings?.TotalCount ?? 0) Trainings - Page @(Model?.CurrentPage ?? 0)/@(Model?.Trainings?.TotalPages ?? 0)</div>
    <div class="c-toolbar__right">
        @if (Model?.Trainings?.HasNextPage ?? false)
        {
            <a asp-page="/admin/trainings/list/index" asp-route-CurrentPage="@(Model.CurrentPage + 1)">Next</a>
        }
    </div>
</div>
