@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@model Smart.FA.Catalog.Showcase.Web.Pages.Training.TrainingList.TrainingListViewModel
@inject IStringLocalizer<ShowcaseResources> Localizer

<div class="training-list">
    <div class="training-list__container">
        <div class="training-list__container-left">
            <div class="training-list__title">
                <a class="training-list__training-link" asp-page="@Routes.TrainingDetails" asp-route-id="@Model.TrainingId">@Model.Title</a>
            </div>
            <div class="training-list__trainer">
                @Html.DisplayFor(modelItem => Model.TrainerFirstName) @Html.DisplayFor(modelItem => Model.TrainerLastName)
            </div>
            <div class="training-list__sectors ">
                <img src="~/icons/tag--blue.svg" class="o-svg-icon--small sectors-icon" />
                <!-- Show all training topics -->
                @foreach (var topic in Model.Topics)
                {
                    <a class="training-list__category-link" href="#"> @(Localizer[$"TopicName_{topic.Name}"])</a>
                    if (!Equals(topic, Model.Topics.Last()))
                    {
                        <span>, </span>
                    }
                }
            </div>
        </div>
        <div class="training-list__container-right">
            <div class="training-list__more">
                <!--Link for training details-->
                <a class="training-list__more-link" asp-page="@Routes.TrainingDetails" asp-route-id="@Model.TrainingId">
                    <img src="~/icons/chevron-right--blue.svg" class="o-svg-icon--large chevron-icon" />
                </a>
            </div>
        </div>
    </div>
</div>
