@page "/superuser/trainers"
@using Smart.FA.Catalog.Infrastructure.Extensions
@model Smart.FA.Catalog.Web.Pages.SuperUser.Trainers.List

@{
    Layout = "Shared/_AdminLayout";
}

<div class="o-container">
    <smart-spacer all="ExtraLarge">
        @* Alert box *@
        @if (TempData.HasGlobalAlertMessage())
        {
            <div id="deleted-trainer-message">
                <div class="c-alert c-alert--success">
                    <smart-icon icon="Check"></smart-icon>
                    <div class="c-alert__body">
                        <div class="c-alert__text">
                            <h4 class="c-h4">@TempData.GetGlobalAlertMessage().Message</h4>
                        </div>
                    </div>
                    <button class="c-button-link c-button--borderless-muted c-button--icon" onclick="document.getElementById('deleted-trainer-message').style.display='none'" type="button" data-alert-close="data-alert-close" aria-label="Close alert">
                        <smart-icon icon="Close"></smart-icon>
                    </button>
                </div>
            </div>
        }

        <smart-spacer bottom="Large"></smart-spacer>

        <smart-form method="Get" asp-page-handler="Search">
            <div class="o-form-group-layout o-form-group-layout--standard  u-spacer-bottom-l">
                <smart-card>
                    <smart-card-body>
                        <smart-formgroup label="@CatalogResources.TrainerNameOrEmailSearchLabel">
                            <smart-input-group asp-for="@Model.TrainerNameOrEmailFilterQuery" icon="Search" align="Start"></smart-input-group>
                        </smart-formgroup>
                        <smart-button id="submit-btn" label="@CatalogResources.Search" is-block="true" button-style="Primary" button-type="Submit" leading-icon="Search"></smart-button>
                    </smart-card-body>
                </smart-card>
            </div>
        </smart-form>

        @* Confirmation menu *@
        <div id="delete-trainer-dialog-confirmation" class="c-dialog-context o-flex--center">
            <div class="c-dialog c-dialog--small" role="dialog">
                <div class="c-dialog__push"></div>
                <div class="c-dialog__body">
                    <div class="c-dialog__content">
                        <h3 class="c-h3">@CatalogResources.YouAreAboutToDeleteTrainer</h3>
                    </div>
                </div>
                <div class="c-dialog__footer">
                    <div class="c-toolbar c-toolbar--spaced">
                        <div class="c-toolbar__right">
                            <div class="c-toolbar__item">
                                <div class="c-button-toolbar">
                                    <button class="c-button c-button--secondary" data-dialog-close="data-dialog-close">
                                        <div class="c-button__content">
                                            <div class="c-button__label">@CatalogResources.Cancel</div>
                                        </div>
                                    </button>
                                    <button id="delete-trainer-button" data-trainerId="" class="c-button c-button--primary" data-dialog-close="data-dialog-close" onclick="deleteTrainer(this)">
                                        <div class="c-button__content">
                                            <smart-icon icon="Delete"></smart-icon>
                                            <div class="c-button__label">@CatalogResources.Delete</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-dialog__push"></div>
            </div>
        </div>

        @* No Trainers Message *@
        @if (!Model.TrainerList.Any())
        {
            <p class="c-blank-slate" style="font-size: 2.6rem;">@CatalogResources.NoTrainerFound</p>
        }

        @* Trainer Tiles *@
        @if (Model.TrainerList.Count > 0)
        {
            <div class="o-card-grid small-up-1">

                @foreach (var trainer in Model.TrainerList)
                {
                    @await Component.InvokeAsync(typeof(Shared.Components.SuperUserTrainerListTile.SuperUserTrainerListTile), new { trainer })
                }
            </div>
        }
        @* Paging interface *@
        @await Component.InvokeAsync(typeof(Shared.Components.PagingTile.PagingTile), new { List = Model.TrainerList.ToPagedListOfEntities(), queryParameters = new Dictionary<string, string?> { { nameof(Model.TrainerNameOrEmailFilterQuery), Model.TrainerNameOrEmailFilterQuery } } })
    </smart-spacer>
</div>

@section Scripts
{
    <script>
            // Submits the form surrounding the delete button of a trainer.
            function deleteTrainer(elem) {
                document.getElementById('delete-trainer-form-' + elem.dataset.trainerId).submit();
            }

            // Used in the SuperUserTrainerListViewComponent HTML.
            function setTrainerId(trainerId) {
                document.getElementById('delete-trainer-button').dataset.trainerId = trainerId;
            }
    </script>
}
