@model Smart.FA.Catalog.Showcase.Infrastructure.Mailing.Inquiry.InquirySendEmailRequest

<div class="main__contact-form">
    <form class="o-form-group-layout o-form-group-layout--standard" method="post">
        <div class="o-form-group">
            <label class="o-form-group__label" for="formValidationnameId">@ShowcaseResources.Contact_LabelName</label>
            <div class="o-form-group__controls">
                <input asp-for="Name" class="c-input" type="text" placeholder="@ShowcaseResources.Contact_DefaultName" id="formValidationnameId" />
                <span asp-validation-for="Name" class="contact-form__error"></span>
            </div>
        </div>
        <div class="o-form-group">
            <label class="o-form-group__label" for="formValidationEmailId">@ShowcaseResources.Contact_LabelEmail</label>
            <div class="o-form-group__controls">
                <input asp-for="Email" class="c-input" type="text" placeholder="@ShowcaseResources.Contact_DefaultEmail" id="formValidationEmailId" />
                <span asp-validation-for="Email" class="contact-form__error"></span>
            </div>
        </div>

        <div class="o-form-group">
            <label class="o-form-group__label" for="textareaId">@ShowcaseResources.Contact_LabelMessage</label>
            <textarea asp-for="Message" class="c-textarea" rows="5" id="textareaId" maxlength="1000"></textarea>
            <span asp-validation-for="Message" class="contact-form__error"></span>
        </div>
        <div class="o-form-group">
            <input class="c-button c-button--primary" type="submit" value="@ShowcaseResources.Contact_LabelSend" />
        </div>
    </form>
</div>
