@page "{id:int}"
@using Microsoft.Extensions.Localization
@using Smart.FA.Catalog.Web.Extensions

@inject IStringLocalizer<CatalogResources> _localizer
@model Smart.FA.Catalog.Web.Pages.Admin.Trainings.Update.UpdateModel
@{
    Layout = "_AdminLayout";
    ViewData["ToolBarTitle"] = @CatalogResources.EditTraining;
    ViewData.SetTitle(CatalogResources.EditTraining);
}
<div class="o-container">

        @section HeaderToolbar
        {
            <div class="c-toolbar">
                <div class="c-toolbar__left">
                    @if (Request.Query.ContainsKey("fromlist"))
                    {
                        <div class="c-toolbar__item">
                            <a class="c-button c-button--icon c-button--borderless" href="/cfa/Admin/Trainings/List/Index">
                                <div class="c-button__content">
                                    <smart-icon icon="ArrowLeft"></smart-icon>
                                    <div class="u-sr-accessible">@CatalogResources.Back</div>
                                </div>
                            </a>
                        </div>
                    }
                    <div class="c-toolbar__item">
                        <h2 class="c-toolbar__title">@CatalogResources.EditTraining @Model.UpdateTrainingViewModel.Title</h2>
                    </div>
                </div>
                <div class="c-toolbar__right">
                    <div class="c-button-toolbar">
                        <div class="c-toolbar__item">
                            <smart-button id="Save" form="form" label="@CatalogResources.Draft" button-style="Secondary" leading-icon="Save" button-type="Submit" asp-page-handler="Update"> </smart-button>
                        </div>
                        <div class="c-toolbar__item">
                            <smart-button id="Publish" form="form" label="@CatalogResources.Publish" button-style="Primary" leading-icon="Send" button-type="Submit" asp-page-handler="Update"> </smart-button>
                        </div>
                    </div>
                </div>
            </div>
        }

        @await Html.PartialAsync("Admin/Trainings/Shared/_TrainingCreationEditionForm", Model.UpdateTrainingViewModel)
</div>

<div class="u-spacer"></div>

@section Scripts
{
    <script>
        disableEnterKeyUpKeyPressOnForm();
    </script>
}
