@page "{id:int}"
@using Microsoft.Extensions.Localization
@using Smart.FA.Catalog.Shared.Domain.Enumerations.Common
@using Smart.FA.Catalog.Shared.Domain.Enumerations.Training
@using Smart.FA.Catalog.Web.Extensions

@inject IStringLocalizer<CatalogResources> _localizer
@model Smart.FA.Catalog.Web.Pages.Admin.Trainings.Update.UpdateModel
@{
    Layout = "_AdminLayout";
    ViewData["ToolBarTitle"] = @CatalogResources.EditTraining;
    ViewData.SetTitle(CatalogResources.EditTraining);
}
<smart-container size="Large">
    <form method="post" id="form" class="u-spacer-xl">

        @section HeaderToolbar
        {
            <div class="c-toolbar">
                <div class="c-toolbar__left">
                    @if (Request.Query.ContainsKey("fromlist"))
                    {
                        <div class="c-toolbar__item">
                            <a class="c-button c-button--icon c-button--borderless" href="/cfa/Admin/Trainings/List/Index">
                                <div class="c-button__content">
                                    <smart-icon icon="ArrowLeft"></smart-icon>
                                    <div class="u-sr-accessible">@CatalogResources.Back</div>
                                </div>
                            </a>
                        </div>
                    }
                    <div class="c-toolbar__item">
                        <h2 class="c-toolbar__title">@CatalogResources.EditTraining @Model.UpdateTrainingViewModel.Title</h2>
                    </div>
                </div>
                <div class="c-toolbar__right">
                    <div class="c-button-toolbar">
                        <div class="c-toolbar__item">
                            <smart-button id="Save" form="form" label="@CatalogResources.Draft" button-style="Secondary" leading-icon="Save" button-type="Submit" asp-page-handler="Update"> </smart-button>
                        </div>
                        <div class="c-toolbar__item">
                            <smart-button id="Publish" form="form" label="@CatalogResources.Publish" button-style="Primary" leading-icon="Send" button-type="Submit" asp-page-handler="Update"> </smart-button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="o-form-group-layout o-form-group-layout--standard">
            <smart-panel header="@CatalogResources.FieldsThatWillAppearInThePublicCatalog">
                <smart-form-group-input-text label="@CatalogResources.TrainingTitleCreationLabel *" asp-for="UpdateTrainingViewModel.Title"></smart-form-group-input-text>
                @if (Model.UserIdentity.IsSuperUser)
                {
                    <smart-checkbox label="@CatalogResources.IsTrainingGivenBySmart" asp-for="UpdateTrainingViewModel.IsGivenBySmart"></smart-checkbox>
                    <smart-validation-message asp-for="UpdateTrainingViewModel.IsGivenBySmart"></smart-validation-message>
                }
                <smart-form-group-textarea rows="5" label="@CatalogResources.TrainingPresentation *" asp-for="UpdateTrainingViewModel.Methodology" helper-text="@CatalogResources.Min30CharMax1000Char"></smart-form-group-textarea>
                <smart-form-group-textarea rows="5" label="@CatalogResources.TrainingGoal *" asp-for="UpdateTrainingViewModel.Goal" helper-text="@CatalogResources.Min30CharMax1000Char"></smart-form-group-textarea>
                <smart-form-group-textarea rows="5"label="@CatalogResources.PracticalModalities *" asp-for="UpdateTrainingViewModel.PracticalModalities" helper-text="@CatalogResources.Min30CharMax1000Char"></smart-form-group-textarea>
                <smart-formgroup label="@CatalogResources.Topics *">
                    <smart-grid>
                        @foreach (var topics in Topic.List.Chunk(2))
                        {
                            @foreach (var topic in topics)
                            {
                                <smart-grid-column width="4">
                                    <smart-checkbox label="@_localizer[topic.Name]" asp-for="UpdateTrainingViewModel.TopicIds" value="@topic.Id" checked="@topic.IsContainedIn(Model.UpdateTrainingViewModel.TopicIds)"></smart-checkbox>
                                </smart-grid-column>
                            }
                        }
                    </smart-grid>
                    <smart-validation-message asp-for="UpdateTrainingViewModel.TopicIds"></smart-validation-message>
                </smart-formgroup>
            </smart-panel>

            <smart-spacer bottom="ExtraLarge" top="ExtraLarge"></smart-spacer>

            <smart-panel header="@CatalogResources.TrainingVatJustification *">
                <smart-formgroup label="@CatalogResources.TheTraining *">
                    @foreach (var vatExemptionType in VatExemptionType.List)
                    {
                        <smart-checkbox label="@_localizer["Training_Is" + vatExemptionType.Name]" asp-for="UpdateTrainingViewModel.VatExemptionClaimIds" value="@vatExemptionType.Id" checked="@vatExemptionType.IsContainedIn(Model.UpdateTrainingViewModel.VatExemptionClaimIds)"></smart-checkbox>
                    }
                    <smart-validation-message asp-for="UpdateTrainingViewModel.VatExemptionClaimIds"></smart-validation-message>
                </smart-formgroup>

                <smart-formgroup label="@CatalogResources.TrainingTarget *">
                    @foreach (var targetAudience in TargetAudienceType.List)
                    {
                        <smart-checkbox label="@_localizer[targetAudience.Name]" asp-for="UpdateTrainingViewModel.TargetAudienceTypeIds" value="@targetAudience.Id" checked="@targetAudience.IsContainedIn(Model.UpdateTrainingViewModel.TargetAudienceTypeIds)"></smart-checkbox>
                    }
                    <smart-validation-message asp-for="UpdateTrainingViewModel.TargetAudienceTypeIds"></smart-validation-message>
                </smart-formgroup>

                <smart-formgroup label="@CatalogResources.Training_IsItATrainingThat *">
                    @foreach (var attendanceType in AttendanceType.List)
                    {
                        <smart-checkbox asp-for="UpdateTrainingViewModel.AttendanceTypeIds" value="@attendanceType.Id" label="@_localizer["Training_" + attendanceType.Name]" checked="attendanceType.IsContainedIn(Model.UpdateTrainingViewModel.AttendanceTypeIds)"></smart-checkbox>
                    }
                    <smart-validation-message asp-for="UpdateTrainingViewModel.AttendanceTypeIds"></smart-validation-message>
                </smart-formgroup>
            </smart-panel>
            <input type="hidden" id="isDraft" value="false" asp-for="UpdateTrainingViewModel.IsDraft"/>

            <div class="u-spacer"></div>
        </div>
    </form>
</smart-container>

<div class="u-spacer"></div>

@section Scripts
{
    <script>
        disableEnterKeyUpKeyPressOnForm();
    </script>
}
