@page "{id:int}"
@using Microsoft.Extensions.Localization
@using Smart.FA.Catalog.Shared.Domain.Enumerations
@using Smart.FA.Catalog.Shared.Domain.Enumerations.Training
@using Smart.FA.Catalog.Web.Extensions

@inject IStringLocalizer<CatalogResources> _localizer
@model Smart.FA.Catalog.Web.Pages.Admin.Trainings.Update.UpdateModel
@{
    Layout = "_AdminLayout";
    ViewData["ToolBarTitle"] = @CatalogResources.EditTraining;
    ViewData.SetTitle(CatalogResources.EditTraining);
}
<smart-container size="Large">
    <form method="post" id="form">

        @section HeaderToolbar
        {
            <div class="c-navbar c-navbar--bordered-bottom">
                <div class="c-toolbar">
                    <div class="c-toolbar__left">
                        <div class="c-toolbar__item">
                            @if (Request.Query.ContainsKey("fromlist"))
                            {
                                <a class="c-button c-button--icon c-button--borderless" href="/Admin/Trainings/List/Index">
                                    <div class="c-button__content">
                                        <smart-icon icon="ArrowLeft"></smart-icon>
                                        <div class="u-sr-accessible">@CatalogResources.Back</div>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="c-toolbar__item">
                            <h2 class="c-toolbar__title">@CatalogResources.EditTraining @Model.UpdateTrainingViewModel.Title</h2>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="o-form-group-layout o-form-group-layout--standard">
            <smart-panel header="@CatalogResources.FieldsThatWillAppearInThePublicCatalog">
                <smart-form-group-input-text label="@CatalogResources.TrainingTitleCreationLabel *" asp-for="UpdateTrainingViewModel.Title"></smart-form-group-input-text>
                <smart-form-group-textarea label="@CatalogResources.TrainingPresentation *" asp-for="UpdateTrainingViewModel.Methodology" helper-text="@CatalogResources.Min30CharMax500Char"></smart-form-group-textarea>
                <smart-form-group-textarea label="@CatalogResources.TrainingGoal *" asp-for="UpdateTrainingViewModel.Goal" helper-text="@CatalogResources.Min30CharMax500Char"></smart-form-group-textarea>
                <smart-form-group-textarea label="@CatalogResources.PracticalModalities *" asp-for="UpdateTrainingViewModel.PracticalModalities" helper-text="@CatalogResources.Min30CharMax1000Char"></smart-form-group-textarea>
                <smart-formgroup label="@CatalogResources.Topics *">
                    <smart-grid>
                        @foreach (var topics in Enumeration.GetAll<TrainingTopic>().Chunk(2))
                        {
                            @foreach (var topic in topics)
                            {
                                <smart-grid-column width="4">
                                    <smart-checkbox label="@_localizer[topic.Name]" asp-for="UpdateTrainingViewModel.TopicIds" value="@topic.Id" checked="@topic.IsContainedIn(Model.UpdateTrainingViewModel.TopicIds)"></smart-checkbox>
                                </smart-grid-column>
                            }
                            @if (topics.Length > 1)
                            {
                                <smart-grid-column width="4"></smart-grid-column>
                            }
                        }
                        <smart-grid-column width="8">
                            <smart-checkbox label="@CatalogResources.Other"></smart-checkbox>
                        </smart-grid-column>
                    </smart-grid>
                    <smart-validation-message asp-for="UpdateTrainingViewModel.TopicIds"></smart-validation-message>
                </smart-formgroup>
            </smart-panel>

            <smart-spacer bottom="ExtraLarge" top="ExtraLarge"></smart-spacer>

            <smart-panel header="@CatalogResources.TrainingVatJustification *">
                <smart-formgroup label="@CatalogResources.TheTraining *">
                    @foreach (var trainingType in Enumeration.GetAll<TrainingType>())
                    {
                        <smart-checkbox label="@_localizer["Training_Is" + trainingType.Name]" asp-for="UpdateTrainingViewModel.TrainingTypeIds" value="@trainingType.Id" checked="@trainingType.IsContainedIn(Model.UpdateTrainingViewModel.TrainingTypeIds)"></smart-checkbox>
                    }
                    <smart-checkbox label="@CatalogResources.Other"></smart-checkbox>
                    <smart-validation-message asp-for="UpdateTrainingViewModel.TrainingTypeIds"></smart-validation-message>
                </smart-formgroup>

                <smart-formgroup label="@CatalogResources.TrainingTarget *">
                    @foreach (var targetAudience in Enumeration.GetAll<TrainingTargetAudience>())
                    {
                        <smart-checkbox label="@_localizer[targetAudience.Name]" asp-for="UpdateTrainingViewModel.TargetAudienceIds" value="@targetAudience.Id" checked="@targetAudience.IsContainedIn(Model.UpdateTrainingViewModel.TargetAudienceIds)"></smart-checkbox>
                    }
                    <smart-checkbox label="@CatalogResources.Other"></smart-checkbox>
                    <smart-validation-message asp-for="UpdateTrainingViewModel.TargetAudienceIds"></smart-validation-message>
                </smart-formgroup>

                <smart-formgroup label="@CatalogResources.Training_IsItATrainingThat *">
                    @foreach (var attendanceType in Enumeration.GetAll<AttendanceType>())
                    {
                        <smart-checkbox asp-for="UpdateTrainingViewModel.AttendanceTypeIds" value="@attendanceType.Id" label="@_localizer["Training_" + attendanceType.Name]" checked="attendanceType.IsContainedIn(Model.UpdateTrainingViewModel.AttendanceTypeIds)"></smart-checkbox>
                    }
                    <smart-validation-message asp-for="UpdateTrainingViewModel.AttendanceTypeIds"></smart-validation-message>
                </smart-formgroup>
            </smart-panel>
            <input type="hidden" id="isDraft" value="false" asp-for="UpdateTrainingViewModel.IsDraft"/>

            <div class="u-spacer"></div>
        </div>
        <div class="c-toolbar__right">
            <div class="c-toolbar__item">
                <smart-button id="Save" label="@CatalogResources.Draft" button-style="Secondary" leading-icon="Save" button-type="Submit" asp-page-handler="Update"> </smart-button>
            </div>
            <div class="c-toolbar__item">
                <smart-button id="Publish" label="@CatalogResources.Publish" button-style="Primary" leading-icon="Send" button-type="Submit" asp-page-handler="Update"> </smart-button>
            </div>
        </div>
    </form>
</smart-container>

<div class="u-spacer"></div>
