@page
@using Microsoft.Extensions.Localization
@using Smart.FA.Catalog.Shared.Domain.Enumerations.Common
@using Smart.FA.Catalog.Shared.Domain.Enumerations.Training
@inject IStringLocalizer<CatalogResources> _localizer
@model Smart.FA.Catalog.Web.Pages.Admin.Trainings.Create.CreateModel
@{
    Layout = "_AdminLayout";
    ViewData["ToolBarTitle"] = CatalogResources.AddNewTraining;
    ViewData["Title"] = CatalogResources.AddNewTraining;
}

@section HeaderToolbar
{
    <div class="c-toolbar">
        <div class="c-toolbar__left">
            @if (Request.Query.ContainsKey("fromlist"))
            {
                <div class="c-toolbar__item">
                    <a class="c-button c-button--icon c-button--borderless" href="/cfa/admin/trainings/list/index">
                        <div class="c-button__content">
                            <smart-icon icon="ArrowLeft"></smart-icon>
                            <div class="u-sr-accessible">@CatalogResources.Back</div>
                        </div>
                    </a>
                </div>
            }
            <div class="c-toolbar__item">
                <h2 class="c-toolbar__title">@CatalogResources.AddNewTraining</h2>
            </div>
        </div>
        <div class="c-toolbar__right">
            <div class="c-button-toolbar">
                <div class="c-toolbar__item">
                    <smart-button id="Save" form="form" label="@CatalogResources.Draft" button-style="Secondary" leading-icon="Save" button-type="Submit"></smart-button>
                </div>
                <div class="c-toolbar__item">
                    <smart-button id="Publish"  form="form" label="@CatalogResources.Publish" button-style="Primary" leading-icon="Send" button-type="Submit"> </smart-button>
                </div>
            </div>
        </div>
    </div>
}

<div class="o-container">
    <form method="post" id="form" class="u-spacer-xl">
        <div class="o-form-group-layout o-form-group-layout--standard">

            <smart-panel header="@CatalogResources.FieldsThatWillAppearInThePublicCatalog">

                <smart-formgroup>
                    <label class="o-form-group__label">@CatalogResources.TrainingTitleCreationLabel * <span data-tooltip="tooltip-title" data-tooltip-placement="top" class="icon-help"><smart-icon icon="CircleHelp"></smart-icon></span></label>
                    <smart-formgroup-controls>
                        <smart-input asp-for="CreateTrainingViewModel.Title"></smart-input>
                        <smart-validation-message asp-for="CreateTrainingViewModel.Title"></smart-validation-message>
                    </smart-formgroup-controls>
                </smart-formgroup>

                @if (Model.UserIdentity.IsSuperUser)
                {
                    <smart-checkbox label="@CatalogResources.IsTrainingGivenBySmart" asp-for="CreateTrainingViewModel.IsGivenBySmart"></smart-checkbox>
                    <smart-validation-message asp-for="CreateTrainingViewModel.IsGivenBySmart"></smart-validation-message>
                }
                <smart-formgroup>
                    <label class="o-form-group__label">@CatalogResources.TrainingPresentation * <span data-tooltip="tooltip-presentation" data-tooltip-placement="top" class="icon-help"><smart-icon icon="CircleHelp"></smart-icon></span></label>
                    <smart-formgroup-controls>
                        <smart-textarea asp-for="CreateTrainingViewModel.Methodology" rows="5"></smart-textarea>
                        
                        <p class="c-form-help-text">@CatalogResources.Min30CharMax1000Char</p>
                        <smart-validation-message asp-for="CreateTrainingViewModel.Methodology"></smart-validation-message>
                    </smart-formgroup-controls>
                </smart-formgroup>

                <smart-formgroup>
                    <label class="o-form-group__label">@CatalogResources.TrainingGoal * <span data-tooltip="tooltip-objectif" data-tooltip-placement="top" class="icon-help"><smart-icon icon="CircleHelp"></smart-icon></span></label>
                    <smart-formgroup-controls>
                        <smart-textarea asp-for="CreateTrainingViewModel.Goal" rows="5"></smart-textarea>
                        
                        <p class="c-form-help-text">@CatalogResources.Min30CharMax1000Char</p>
                        <smart-validation-message asp-for="CreateTrainingViewModel.Goal"></smart-validation-message>
                    </smart-formgroup-controls>
                </smart-formgroup>
                
                <smart-formgroup>
                    <label class="o-form-group__label">@CatalogResources.PracticalModalities * <span data-tooltip="tooltip-modalites" data-tooltip-placement="top" class="icon-help"><smart-icon icon="CircleHelp"></smart-icon></span></label>
                    <smart-formgroup-controls>
                        <smart-textarea asp-for="CreateTrainingViewModel.PracticalModalities" rows="5"></smart-textarea>
                        
                        <p class="c-form-help-text">@CatalogResources.Min30CharMax1000Char</p>
                        <smart-validation-message asp-for="CreateTrainingViewModel.PracticalModalities"></smart-validation-message>
                    </smart-formgroup-controls>
                </smart-formgroup>

                <smart-formgroup label="@CatalogResources.Topics *">
                    <smart-grid>
                        @foreach (var topics in Topic.List.Chunk(2))
                        {
                            @foreach (var topic in topics)
                            {
                                <smart-grid-column width="4">
                                    <smart-checkbox label="@_localizer[topic.Name]" asp-for="CreateTrainingViewModel.TopicIds" value="@topic.Id" checked="@(topic.IsContainedIn(Model.CreateTrainingViewModel.TopicIds))"></smart-checkbox>
                                </smart-grid-column>
                            }
                        }
                    </smart-grid>
                    <smart-validation-message asp-for="CreateTrainingViewModel.TopicIds"></smart-validation-message>
                </smart-formgroup>
            </smart-panel>

            <smart-spacer top="ExtraLarge" bottom="ExtraLarge"></smart-spacer>

            <smart-panel header="@CatalogResources.TrainingVatJustification">
                <smart-formgroup label="@CatalogResources.TheTraining *">
                    @foreach (var vatExemptionType in VatExemptionType.List)
                    {
                        <smart-checkbox label="@_localizer["Training_Is" + vatExemptionType.Name]" asp-for="CreateTrainingViewModel.VatExemptionTypeIds" value="@vatExemptionType.Id" checked="@(vatExemptionType.IsContainedIn(Model.CreateTrainingViewModel.VatExemptionTypeIds))"></smart-checkbox>
                    }
                    <smart-validation-message asp-for="CreateTrainingViewModel.VatExemptionTypeIds"></smart-validation-message>
                </smart-formgroup>

                <smart-formgroup label="@CatalogResources.TrainingTarget *">
                    @foreach (var targetAudience in TargetAudienceType.List)
                    {
                        <smart-checkbox label="@_localizer[targetAudience.Name]" asp-for="CreateTrainingViewModel.TargetAudienceTypeIds" value="@targetAudience.Id" checked="@(targetAudience.IsContainedIn(Model.CreateTrainingViewModel.TargetAudienceTypeIds))"></smart-checkbox>
                    }
                    <smart-validation-message asp-for="CreateTrainingViewModel.TargetAudienceTypeIds"></smart-validation-message>
                </smart-formgroup>

                <smart-formgroup label="@CatalogResources.Training_IsItATrainingThat *">
                    @foreach (var attendanceType in AttendanceType.List)
                    {
                        <smart-checkbox asp-for="CreateTrainingViewModel.AttendanceTypeIds" value="@attendanceType.Id" label="@_localizer["Training_" + attendanceType.Name]" checked="@(attendanceType.IsContainedIn(Model.CreateTrainingViewModel.AttendanceTypeIds))"></smart-checkbox>
                    }
                </smart-formgroup>
                <smart-validation-message asp-for="CreateTrainingViewModel.AttendanceTypeIds"></smart-validation-message>
            </smart-panel>

            <input type="hidden" id="isDraft" value="false" asp-for="CreateTrainingViewModel.IsDraft"/>

        </div>
    </form>
</div>
<div>
    <div class="c-tooltip" id="tooltip-title" role="tooltip">Veillez à utiliser un titre explicite par rapport au contenu de votre formation.
        Utilisez au minimum les lettres capitales. Uniquement pour les débuts de phrases ou noms svp.
        <div class="c-tooltip__arrow" data-popper-arrow="data-popper-arrow"></div>
    </div>

    <div class="c-tooltip" id="tooltip-presentation" role="tooltip">Décrivez brièvement le contenu de votre formation et à qui elle s’adresse. Veillez à proposer un contenu engageant.
        <div class="c-tooltip__arrow" data-popper-arrow="data-popper-arrow"></div>
    </div>

    <div class="c-tooltip" id="tooltip-objectif" role="tooltip">Décrivez ici les compétences ou les aptitudes avec lesquelles la personne repart de la formation.
        <div class="c-tooltip__arrow" data-popper-arrow="data-popper-arrow"></div>
    </div>

    <div class="c-tooltip" id="tooltip-modalites" role="tooltip">Renseignez ici les infos pratiques : lieu, dates, online, à la demande,...
        <div class="c-tooltip__arrow" data-popper-arrow="data-popper-arrow"></div>
    </div>
</div>
@section Scripts
{
    <script>
        disableEnterKeyUpKeyPressOnForm();
    </script>
}
