@page
@using Microsoft.Extensions.Localization
@using Smart.FA.Catalog.Shared.Domain.Enumerations.Trainer
@using Smart.FA.Catalog.Showcase.Web.Extensions
@model Smart.FA.Catalog.Showcase.Web.Pages.Trainer.TrainerDetails.TrainerDetailsModel
@inject IStringLocalizer<ShowcaseResources> StringLocalizer

@{
    ViewData["Title"] = Model.Trainer.Title;
    Layout = Routes.Layout;
}

<section class="trainer-card">
    <div class="trainer-card__title">
        @Model.Trainer.FirstName @Model.Trainer.LastName
    </div>
    <div class="trainer-card__fonction">
        @Html.PreserveLineBreaks(Model.Trainer.Title)
    </div>
    <div class="trainer-card__details">
        <div class="trainer-card__image">
            <img src="@Model.Trainer.ProfileImageUrl" class="trainer-image" alt="trainer-image"/>
        </div>
        <div class="trainer-card__details-txts">
            @Html.PreserveLineBreaks(Model.Trainer.Biography)
        </div>
        <div class="trainer-card__contacts">
            <ul>
                @foreach (var socialNetwork in Model.Trainer.SocialNetworks)
                {
                    <li class="trainer-card__trainer-links">
                        @{
                            // No icon to personnel web site
                            if (socialNetwork.SocialNetwork.Id != SocialNetwork.PersonalWebsite.Id)
                            {
                                <img src="@socialNetwork.IconPathFileName" class="o-svg-icon--small contact-icon" alt=""/>
                            }
                        }
                        <a href="@socialNetwork.SocialNetworkUrl" target="_blank" class="trainer-card__trainer-link">
                            @socialNetwork.SocialNetwork.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="trainer-card__trainings">
        <div class="trainer-card__trainings-label">
            @ShowcaseResources.TrainingsToFollow
        </div>
        @foreach (var training in Model.Trainer.Trainings)
        {
            <div class="training-list__container">
                <div class="training-list__container-left">
                    <div class="training-list__title">
                        <a class="training-list__training-link" asp-page="@Routes.TrainingDetails" asp-route-id="@training.TrainingId">@training.Title</a>
                    </div>
                    <div class="training-list__category">
                        <img src="~/icons/tag--blue.svg" class="o-svg-icon--small sectors-icon" alt=""/>
                        @foreach (var topic in training.Topics)
                        {
                            <a class="training-list__category-link" href="#">@StringLocalizer[$"TopicName_{topic.Name}"]</a>
                            if (topic != training.Topics.Last())
                            {
                                <span>, </span>
                            }
                        }
                    </div>
                </div>
                <div class="training-list__container-right">
                    <div class="training-list__more">
                        <a class="training-list__more-link" asp-page="@Routes.TrainingDetails" asp-route-id="@training.TrainingId">
                            <img src="~/icons/chevron-right--blue.svg" class="o-svg-icon--large chevron-icon"/>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="u-spacer-xl">
        <div class="c-toolbar">
            <div class="c-toolbar__left">
                @if (Model?.Trainer.Trainings?.HasPreviousPage ?? false)
                {
                    <a asp-page="@Routes.TrainerDetails" asp-route-CurrentPage="@(Model.CurrentPage - 1)" asp-route-id="@Model.Trainer.Id">@ShowcaseResources.Previous</a>
                }
            </div>

            <div>Page @(Model.CurrentPage)/@(Model?.Trainer.Trainings?.TotalPages ?? 0)</div>
            <div class="c-toolbar__right">
                @if (Model?.Trainer.Trainings?.HasNextPage ?? false)
                {
                    <a asp-page="@Routes.TrainerDetails" asp-route-CurrentPage="@(Model.CurrentPage + 1)" asp-route-id="@Model.Trainer.Id">@ShowcaseResources.Next</a>
                }
            </div>
        </div>
    </div>

    <div class="trainer-card__footer">
        <div class="trainer-card__back">
            <a class="trainer-card__back-link" asp-page="@Routes.TrainerList">
                <img src="~/icons/chevron-left--blue.svg" class="o-svg-icon--small chevron-icon" alt=""/>@ShowcaseResources.AllTrainers
            </a>
        </div>
    </div>
</section>
