@page
@model Smart.FA.Catalog.Web.Pages.Admin.IndexModel
@{
    Layout = "Shared/_AdminLayout";
}

<h2 class="c-h2">@CatalogResources.Hello @Model.UserIdentity.CurrentTrainer.Name.ToString()</h2>
<smart-panel header="@CatalogResources.AdminHomepage_WhatIsFormateurAssocieTitle">
    <p class="intro__paragraph">@CatalogResources.AdminHomepage_IntroductionPart1</p>
    <p class="intro__paragraph">@CatalogResources.AdminHomepage_IntroductionPart2</p>
    <p class="intro__paragraph">@CatalogResources.AdminHomepage_IntroductionPart3</p>
</smart-panel>

    <smart-spacer bottom="ExtraLarge" top="ExtraLarge"></smart-spacer>
</smart-spacer>
