@page "/admin/userchart"
@model Smart.FA.Catalog.Web.Pages.Admin.UserChartModel
@{
    Layout = "Shared/_AdminLayout";
}

<form method="post" id="form">
    <smart-panel header="@CatalogResources.AdminHomepage_AcceptCharter">
        <a href="@Model.GetLastChartUrl().Result" target="_blank">@CatalogResources.AdminHomePage_UserChart</a>
        <smart-spacer top="Large">
            <smart-checkbox label="@CatalogResources.AdminHomepage_AcceptCharter" asp-for="@Model.HasAcceptedUserChart"></smart-checkbox>
            <smart-validation-message asp-for="@Model"></smart-validation-message>
        </smart-spacer>
        <smart-spacer top="Large">
            <smart-button id="Accept" label="@CatalogResources.UserChartAccept" button-style="Primary" leading-icon="Send" button-type="Submit" disabled=@(HttpContext.Request.Cookies.TryGetValue("HasAcceptedUserChart", out _))> </smart-button>
        </smart-spacer>
    </smart-panel>
</form>
