@page
@model Smart.FA.Catalog.Showcase.Web.Pages.Training.TrainingList.TrainingListModel
@using Smart.FA.Catalog.Shared.Domain.Enumerations.Training
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ShowcaseResources> _localizer

@{
    ViewData["Title"] = "TrainingList";
    Layout = Routes.Layout;
}

<section class="main__presentation">
    <div class="main-title">@ShowcaseResources.TrainingList_Title</div>
    <div class="main__presentation-txt">
        @ShowcaseResources.TrainingList_presentation
    </div>
</section>

<section class="section__training-search">
    <section class="section__training-search">
        <form method="get">
            <div class="c-input-with-icon">
                <input class="c-input c-input--max-width" id="searchKeyword" name="searchKeyword" type="search" placeholder="Search…">
                <div class="o-svg-icon o-svg-icon-search  ">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="#1267FB" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 4C6.68629 4 4 6.68629 4 10C4 13.3137 6.68629 16 10 16C13.3137 16 16 13.3137 16 10C16 6.68629 13.3137 4 10 4ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8487 17.3729 13.551 16.3199 14.9056L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.9056 16.3199C13.551 17.3729 11.8487 18 10 18C5.58172 18 2 14.4183 2 10Z" fill="#1267FB"></path>
                    </svg>
                </div>
            </div>
        </form>
    </section>

    <div class="search-category__list">
        <ul class="search-category__list-ul">
            @foreach (var topic in Topic.List)
            {
                <li class="search-category__item">
                    <a asp-page-handler="SearchTopic" asp-route-id="@topic.Id" class="search-category__item-link"> @(_localizer[$"TopicName_{topic.Name}"])</a>
                </li>
            }
        </ul>
        <div class="search-category__item_end">
            <a href="@Routes.SearchTopicTrainingList" class="search-category__item-all search-category__item--active">@ShowcaseResources.AllTopics</a>
        </div>
    </div>
</section>

<section class="section__training-list">
    @foreach (var training in Model.Trainings)
    {
        @await Html.PartialAsync("Shared/_TrainingTitle", training)
    }

    @if (Model.Trainings is not null && Model.Trainings.Any())
    {
        <div class="u-spacer-xl">
            <div class="c-toolbar">
                <div class="c-toolbar__left">
                    @if (Model?.Trainings?.HasPreviousPage ?? false)
                    {
                        <a asp-page="@Routes.TrainingList" asp-route-CurrentPage="@(Model.CurrentPage - 1)">@ShowcaseResources.Previous</a>
                    }
                </div>

                <div>Page @(Model.CurrentPage)/@(Model?.Trainings?.TotalPages ?? 0)</div>
                <div class="c-toolbar__right">
                    @if (Model?.Trainings?.HasNextPage ?? false)
                    {
                        <a asp-page="@Routes.TrainingList" asp-route-CurrentPage="@(Model.CurrentPage + 1)">@ShowcaseResources.Next</a>
                    }
                </div>
            </div>
        </div>
    }
</section>
