@page
@using Microsoft.Extensions.Localization
@using Smart.FA.Catalog.Core.Domain.Dto
@using Smart.FA.Catalog.Core.SeedWork
@inject IStringLocalizer<CatalogResources> _localizer
@model Smart.FA.Catalog.Web.Pages.Admin.Trainings.List.ListModel
@{
    Layout = "_AdminLayout";
    ViewData["ToolBarTitle"] = @CatalogResources.MyTrainings;
    ViewData["Title"] = CatalogResources.MyTrainings;
}

@section HeaderToolbar {
    <div class="c-navbar c-navbar--bordered-bottom">
        <div class="c-toolbar">
            <div class="c-toolbar__left">
                <div class="c-toolbar__item">
                    <h2 class="c-toolbar__title">@CatalogResources.MyTrainings</h2>
                </div>
            </div>

            <smart-button-toolbar>
                <div class="c-toolbar__right">
                    <a href="/admin/trainings/create?fromlist=">
                        <smart-button label="@CatalogResources.AddNewTraining" leading-icon="Add"></smart-button>
                    </a>
                </div>
            </smart-button-toolbar>
        </div>
    </div>
}

<div class="o-card-grid small-up-1">
    @foreach (var training in Model.Trainings!)
    {
        @await Component.InvokeAsync("AdminTrainingTile", new { model = training})
    }
</div>

<div class="c-toolbar">
    <div class="c-toolbar__left">
        @if (Model?.Trainings?.HasPreviousPage ?? false)
        {
            <a asp-page="/admin/trainings/list/index" asp-route-CurrentPage="@(Model.CurrentPage - 1)">@CatalogResources.Previous</a>
        }
    </div>

    <div>Page @(Model?.CurrentPage ?? 0)/@(Model?.Trainings?.TotalPages ?? 0)</div>
    <div class="c-toolbar__right">
        @if (Model?.Trainings?.HasNextPage ?? false)
        {
            <a asp-page="/admin/trainings/list/index" asp-route-CurrentPage="@(Model.CurrentPage + 1)">@CatalogResources.Next</a>
        }
    </div>
</div>
