@using Microsoft.Extensions.Localization
@using Smart.FA.Catalog.Shared.Domain.Enumerations.Training

@inject IStringLocalizer<CatalogResources> _localizer
@model Smart.FA.Catalog.UserAdmin.Web.Pages.Shared.Components.AdminTrainingTile.AdminTrainingCardViewComponentModel

@{
    var training = Model.Training;
}

<smart-card>
    <smart-card-body>
        <smart-card-title text="@training.Details.First().Title"></smart-card-title>
        <smart-muted-text text="@string.Join(", ", training.Topics.Select(trainingTopic => _localizer[trainingTopic.Topic.Name]))"></smart-muted-text>
    </smart-card-body>
    <smart-card-actions>
        <div class="o-flex o-flex--vertical-center o-flex--justify-between o-flex--spaced-wide">
            <smart-pill label="@(_localizer[TrainingStatusType.FromValue(training.StatusType).Name])" status="@Model.PillStatus"></smart-pill>
            <div class="c-button-toolbar">
                <a href="/cfa/admin/trainings/update/@training!.Id">
                    <smart-button leading-icon="EditAlt" button-style="Borderless"></smart-button>
                </a>
                @if (Model.ShowDeleteButton)
                {
                    <form id="delete-training-form-@training.Id" method="post" asp-page-handler="Delete" asp-route-id="@training!.Id">
                        <button class="c-button c-button--borderless c-button--icon" type="button" data-trainingid="@training.Id" data-dialog="delete-training-dialog-confirmation" onclick="setTrainingId(@training.Id)">
                            <span class="c-button__content">
                                <smart-icon icon="Delete"></smart-icon>
                            </span>
                        </button>
                    </form>
                }
            </div>
        </div>
    </smart-card-actions>
</smart-card>
