@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Smart.FA.Catalog.Core.Services
@using Smart.FA.Catalog.Infrastructure.Helpers
@using Smart.FA.Catalog.Web.Options
@inject IOptions<RequestLocalizationOptions> RequestLocalizationOptions;
@inject IUserIdentity UserIdentity;
@inject IMinIoLinkGenerator MinIoLinkGenerator;
@inject IOptions<UrlOptions> UrlOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>() ?? throw new InvalidOperationException($"Couldn't get {nameof(IRequestCultureFeature)}");
    var supportedLanguages = RequestLocalizationOptions
        .Value?
        .SupportedUICultures?
        .Select(supportedCulture => new SelectListItem(supportedCulture.DisplayName, supportedCulture.TwoLetterISOLanguageName)) ??
        throw new InvalidOperationException("Supported culture not defined");
}
<!DOCTYPE html>
<html lang="en" class="u-maximize-height" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/_content/Smart.Design.Razor/css/main.css"/>
    <link rel="stylesheet" href="~/Smart.FA.Catalog.Web.styles.css" />
</head>
<body class="u-maximize-height u-overflow-hidden">
<div class="c-app-layout">
    <header class="u-position-relative">
        <div class="c-navbar c-navbar--scrollable c-navbar--bordered-bottom">
            <div class="c-toolbar">
                <div class="c-toolbar__left">
                    <div class="c-toolbar__item">
                        <div class="c-brand c-brand--xsmall">
                            <a href="@UrlOptions.Value.HomePage">
                                <img src="https://design.smart.coop/images/logo.svg" alt="Smart">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="c-toolbar__right">
                    <div class="c-toolbar__item">
                        <div class="c-select-holder">
                            <select id="culture"
                                    name="culture"
                                    class="c-select"
                                    asp-items="supportedLanguages"
                                    asp-for="@requestCulture.RequestCulture.UICulture.Name">
                            </select>
                        </div>
                    </div>
                    <div class="c-toolbar__item">
                        <a class="c-user-navigation" href="#" data-menu="userMenu">
                            <div class="c-avatar c-avatar--img">
                                <img src="@(MinIoLinkGenerator.GetAbsoluteTrainerProfilePictureUrl(UserIdentity.CurrentTrainer.ProfileImagePath))" alt="avatar">
                            </div>
                        </a>
                        <ul class="c-menu c-menu--large" id="userMenu">
                            <li class="c-menu__item">
                                <a class="c-menu__label" href="#">@CatalogResources.MyUserSpace</a>
                            </li>
                            <li class="c-menu__divider" role="presentational"></li>
                            <li class="c-menu__item">
                                <a class="c-menu__label" href="@UrlOptions.Value.SignOut">@CatalogResources.SignOut</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="u-maximize-width u-scroll-wrapper">
        @RenderBody()
    </main>
</div>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
