@page
@model Smart.FA.Catalog.Showcase.Web.Pages.Trainer.TrainerList.TrainerListModel
@{
    ViewData["Title"] = ShowcaseResources.AssociateTrainers;
    Layout = Routes.Layout;
}

<main class="main c-content">
    <section class="main__presentation">
        <div class="main-title">@ShowcaseResources.TrainersOfAssociateTrainers</div>

        <div class="main__presentation-txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in ullamcorper tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis eget varius nisl, et eleifend est. In condimentum, arcu eget ornare aliquam,
            urna quam luctus quam, ut vestibulum nulla turpis ultricies lectus. Nunc gravida gravida feugiat. Quisque pellentesque libero in massa fringilla, vel gravida ex ultricies. Proin in mi dolor. Fusce mollis neque tellus, vel malesuada nibh malesuada
            vitae. Curabitur sed ultrices nulla. Donec vulputate quis lorem ut ultricies. Nulla vestibulum suscipit aliquet. Aliquam dictum justo posuere, iaculis orci quis, viverra enim. Vivamus nec leo et est hendrerit tempus. Aliquam viverra dapibus elit.
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse sit amet aliquet ligula, id consequat lectus.
        </div>
    </section>
    @*<section class="section__training-search">
        <form action="#">
        <div class="c-input-with-icon">
        <input class="c-input c-input--max-width" id="styleguideSearch" type="search" placeholder="Search…">
        <div class="o-svg-icon o-svg-icon-search  ">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="#1267FB" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 4C6.68629 4 4 6.68629 4 10C4 13.3137 6.68629 16 10 16C13.3137 16 16 13.3137 16 10C16 6.68629 13.3137 4 10 4ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8487 17.3729 13.551 16.3199 14.9056L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.9056 16.3199C13.551 17.3729 11.8487 18 10 18C5.58172 18 2 14.4183 2 10Z" fill="#1267FB" />
        </svg>
        </div>
        </div>
        </form>
        </section>*@

    <section class="section__trainer-list">
        <div class="section__label">
            <h2>@ShowcaseResources.AllTrainers</h2>
        </div>
        <div class="trainer-list">
            @foreach (var trainer in Model.Trainers)
            {
                <div class="trainer-list__item">
                    <div class="trainer-list__item-picture">
                        <a asp-page="@Routes.TrainerDetails" asp-route-id="@trainer.Id">
                            <img src="~/images/photo-avatar-profil.png" class="trainer-image"/>
                        </a>
                    </div>
                    <div class="trainer-list__item-info">
                        <div class="trainer-list__item-name">
                            <a asp-page="@Routes.TrainerDetails" asp-route-id="@trainer.Id" class="trainer-list__item-link">@trainer.FirstName @trainer.LastName</a>
                        </div>
                        <div class="trainer-list__item-function">
                            @trainer.Title
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    @if (Model.Trainers.Any())
    {
        <div class="u-spacer-xl">
            <div class="c-toolbar">
                <div class="c-toolbar__left">
                    @if (Model?.Trainers.HasPreviousPage ?? false)
                    {
                        <a asp-page="@Routes.TrainingList" asp-route-CurrentPage="@(Model.CurrentPage - 1)">@ShowcaseResources.Previous</a>
                    }
                </div>

                <div>Page @(Model?.CurrentPage)/@(Model?.Trainers.TotalPages ?? 0)</div>
                <div class="c-toolbar__right">
                    @if (Model?.Trainers.HasNextPage ?? false)
                    {
                        <a asp-page="@Routes.TrainingList" asp-route-CurrentPage="@(Model.CurrentPage + 1)">@ShowcaseResources.Next</a>
                    }
                </div>
            </div>
        </div>
    }
</main>


